

{% extends 'tires/base.html' %}
{% load static %}

{% block title %}Блог | КазШинТорг{% endblock %}

{% block content %}
        <div class="page">
            <p></p>

<div class="g-form__preloader">
	<div class="g-form__preloader_content"></div>
</div>
<section class="cart-page">
	<div class="cart-page__container _container">
		<h1 class="cart-page__title title">
			Оформление заказа
		</h1>

		<div class="cart-page__body active">
			<div class="cart-page__left" id="formOrder">
					<form  class="cart-page__inputs" data-request="formOrder::onFormSubmit" autocomplete="off">
					<input name="_token" type="hidden" value="dP1LDdfhlBq3iaaZISc5I7Gpz3UGOOrBwAjt7AJW">
					<div class="cart-page__input">
						<input type="text" name="fio" placeholder="ФИО" required>
					</div>
					<div class="cart-page__input">
						<input type="tel" name="phone" placeholder="+7 ()" required>
					</div>
					<div class="cart-page__input">
						<input type="email" name="email" placeholder="Email" required>
					</div>
					<div class="cart-page__input">
						<textarea name="comment" placeholder="Комментарий"></textarea>
					</div>
					<button type="submit"  class="cart-page__button">Оформить</button>
 </form>
<!--  onclick="Order.saveButton(event)" -->			</div>
			<div class="cart-page__content">
				<div class="cart-page__items"></div>
				<button class="cart-page__destroy" onclick="cartLS.destroy()">
					Очистить корзину
				</button>
				<table id="totals" class="table">
					<tbody>
						<tr class="subtotal">
							<td class="name subtotal"><strong>Количество:</strong></td>
							<td class="tcount"><span></span> шт</td>
						</tr>
						<tr class="subtotal">
							<td class="name subtotal"><strong>Позиций:</strong></td>
							<td class="tpos"> </td>
						</tr>
						<tr class="subtotal">
							<td class="name subtotal"><strong>Итого:</strong></td>
							<td class="price"><span></span> ₸</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="order-success">
			Ваш заказ оформлен
		</div>

		<div class="order-empty">
			В корзине нет товаров.
		</div>
	</div>
</section>

<section></section>        </div>

        <!-- Scripts -->
        <script src="https://kazshintorg1.kz/themes/demo/assets/vendor/jquery.js"></script>
<script src="https://kazshintorg1.kz/themes/demo/assets/vendor/bootstrap.js"></script>
<script src="https://kazshintorg1.kz/themes/demo/assets/js/libs/jquery.maskedinput.js"></script>
<script src="https://kazshintorg1.kz/themes/demo/assets/js/libs/swiper-bundle.min.js"></script>
<script src="https://kazshintorg1.kz/themes/demo/assets/js/libs/fancybox.umd.js"></script>
<script src="https://kazshintorg1.kz/themes/demo/assets/js/cart-localstorage.min.js"></script>
<script src="https://kazshintorg1.kz/combine/ae9a0975de109f10e667d468a5db84b9-1743846882"></script>
<script src="https://kazshintorg1.kz/combine/67f56763633aae2d20651c01fbb4b9d8-1742034314"></script>        <script src="/modules/system/assets/js/framework.js"></script>
<script src="/modules/system/assets/js/framework.extras.js"></script>
<link rel="stylesheet" property="stylesheet" href="/modules/system/assets/css/framework.extras.css">
{% endblock %}