
{% extends 'tires/base.html' %}
{% load static %}

{% block title %}Блог | КазШинТорг{% endblock %}

{% block content %}

        <!-- Content -->
        <div class="page">
            <section class="for">
  <div class="for__container _container">
    <div class="for__body">
      <div class="for__left left-for">
        <h1 class="left-for__title">ПОМОЩЬ покупателям:</h1>
        <div class="left-for__items">
          <button class="left-for__item active" data-id="1">Доставка</button>
          <button class="left-for__item " data-id="2">Хранение шин</button>
          <button class="left-for__item" data-id="3">Сертификат</button>
        </div>
      </div>
      <div class="for__content for__content-1 active">
        <div class="for__title title">Информация про доставку</div>
        <div class="for__text">
          <p>Доставка по городу Алматы осуществляется нашей квалифицированной службой доставки.</p>
          <p>Доставим ваш заказ в удобное для вас время и место в черте города.
Как правило, мы доставляем шины день в день или на следующий день после оформления заказа, в зависимости от сезона и загрузки нашей курьерской службы. Вы можете указать время, в которое Вам будет удобно принять заказ.</p>
					<p>Сделать заказ на доставку шин, дисков можно на сайте.</p>
					<p>После того, как Вы сделали заказ на сайте, с Вами свяжется наш оператор для уточнения времени и деталей доставки.</p>
					<p><strong>Доставка товаров по г. Алматы осуществляется бесплатно!</strong></p>
					<p>Доставка товаров не включает дополнительный сервис – доставку «до дверей» клиента. </p>
        </div>
      </div>
      <div class="for__content for__content-2 ">
        <div class="for__title title">Хранение шин</div>
        <div class="for__text">
          <p>Наша компания предоставляет услуги по хранению шин на специализированных складах по выгодной цене! У нас созданы все необходимые условия для того, чтобы сохранить все заводские эксплуатационные свойства Ваших шин, обеспечив правильные условия хранения можно значительно увеличить срок службы автошин. Покрышки будут гораздо дольше сохранять свои эксплуатационные свойства, что позволит как можно реже менять их на новый комплект и экономить деньги в долгосрочной перспективе. Автошины будут работать эффективнее, что позитивно скажется на производительности автомобиля.</p>
          <p>Шины хранятся в сухом и проветриваемом помещении, где нет резких колебаний температуры, в отличие от открытого балкона или неотапливаемого гаража. Это предотвращает появление конденсата, оказывающего пагубное воздействие на шины.</p>
          <p><strong>ПРИЕМУЩЕСТВА ХРАНЕНЕИЯ ШИН У НАС:</strong></p>
          <ul>
          	<li>Оформление документов при приеме</li>
          	<li>Маркировка</li>
          	<li>Круглосуточная охрана</li>
          </ul>
          <p>Вы можете оставить на хранение снятые шины и диски сразу после того, как вам выполнили шиномонтаж. Вы выгодно купили шины со скидкой в межсезонье - можете оставить их на хранение у нас до тех пор, пока они вам не понадобятся. Вы покупали шины не у нас - все равно привозите, мы с радостью примем их на хранение.</p>
          <p>Стоимость хранения комплект (из 4-х шин) – 80 тенге/день</p>
          <p>Если Вы решаете забрать шины раньше срока завершения договора , все оставшиеся дни хранения пролонгируются на следующий сезон хранения.</p>
          <p>Если Вы примете решение хранить шины сверх срока договора– то продление будет считаться по цене указанной в договоре (80 тенге/день).</p>
        </div>
      </div>
      <div class="for__content for__content-3">
        <div class="for__title title">Сертификат</div>
        <div class="for__text">
          <p>Уникальное предложение от компании КазШинТорг!</p>
          <p>Мы разработали программу лояльности специально для наших покупателей.</p>
          <p>Приобретайте автошины и диски и получите до 10% кэшбека, который вы сможете использовать для следующих услуг:</p>
          <ul>
          	<li>Шиномонтаж</li>
          	<li>Сезонное хранение шин</li>
          	<li>Автомойка</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section></section>
        </div>

        <!-- Scripts -->
        <script src="https://kazshintorg1.kz/themes/demo/assets/vendor/jquery.js"></script>
<script src="https://kazshintorg1.kz/themes/demo/assets/vendor/bootstrap.js"></script>
<script src="https://kazshintorg1.kz/themes/demo/assets/js/libs/jquery.maskedinput.js"></script>
<script src="https://kazshintorg1.kz/themes/demo/assets/js/libs/swiper-bundle.min.js"></script>
<script src="https://kazshintorg1.kz/themes/demo/assets/js/libs/fancybox.umd.js"></script>
<script src="https://kazshintorg1.kz/themes/demo/assets/js/cart-localstorage.min.js"></script>
<script src="https://kazshintorg1.kz/combine/ae9a0975de109f10e667d468a5db84b9-1743846882"></script>
<script src="https://kazshintorg1.kz/combine/67f56763633aae2d20651c01fbb4b9d8-1742034314"></script>        <script src="/modules/system/assets/js/framework.js"></script>
<script src="/modules/system/assets/js/framework.extras.js"></script>
<link rel="stylesheet" property="stylesheet" href="/modules/system/assets/css/framework.extras.css">

{% endblock %}