
{% extends 'tires/base.html' %}
{% load static %}

{% block title %}Сервис | КазШинТорг{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row align-items-center g-4">
    <div class="col-md-6">
      <img src="{% static 'tires/images/car.png' %}" alt="Car" class="hero-img" />
    </div>
    <div class="col-md-6">
      <div class="section-title">Сервисное обслуживание</div>
      <p class="section-text">
          Услуги сервисного центра: шиномонтажные услуги на качественном, специализированном оборудовании с квалифицированным персоналом (полный спектр шиномонтажных услуг), боксы с мелко срочным ремонтом с оборудованием от ведущих производителей, а также автомойка с новейшем профессиональным оборудованием и специализированной автокосметикой.

          Мы ждем Вас в нашем сервисном центре, где любой вид работ, представленный в прейскуранте, гарантированно будет исполнен на высоком профессиональном уровне и выполнен квалифицированными специалистами.

          Новое профессиональное оборудование позволит выполнять работы точно, аккуратно и быстро не нарушая регламент или рекомендации производителя и специалистов.

          Сервисный центр расположен по адресу: г. Алматы, ул. Айтиева,5.
      </p>
    </div>
  </div>
</div>
{% endblock %}